<div class="wrapper skin-blue">
  <aside class="right-side strech">
    <section class="content-header">
      <h1>
        Control Groups
        <small>VMs and cgroups grouped by node</small>
      </h1>
      <ol class="breadcrumb">
        <li>{{#link-to "application"}}<i class="fa fa-dashboard"></i> Home{{/link-to}}</li>
        <li class="active">Control Groups</li>
      </ol>
    </section>
    <section class="content">
      <div class="row space-bottom">
        <div class="col-md-6">
        <div class="btn-group">
          <button type="button" class="btn btn-default hint--top" data-hint="Table view">
            <i class="fa fa-table"></i>
          </button>
          <button type="button" class="btn btn-default hint--top active" data-hint="Component view">
            <i class="fa fa-th-large"></i>
          </button>
        </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default inline-block hint--top active" data-hint="Show Nodes">
              <i class="fa fa-hdd-o"></i>
            </button>
            <button type="button" class="btn btn-default hint--top active" data-hint="Show VMs">
              <i class="fa fa-desktop"></i>
            </button>
            <button type="button" class="btn btn-default hint--top active" data-hint="Show cgroups">
              <i class="fa fa-cube"></i>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-5 text-right">
              <div class="dropdown inline-block">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  <i class="fa fa-sort-amount-desc"></i> Sort by
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a>Sort 1</a></li>
                  <li><a>Sort 2</a></li>
                  <li><a>Sort 3</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="input-group">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i> Filter by <span class="fa fa-caret-down"></span></button>
                  <ul class="dropdown-menu">
                    <li><a>Filter 1</a></li>
                    <li><a>Filter 2</a></li>
                    <li><a>Filter 3</a></li>
                  </ul>
                </div>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <section class="col-md-6">
          {{#each firstColumnNodes}}
            {{partial "node"}}
          {{/each}}
        </section>
        <section class="col-md-6">
          {{#each secondColumnNodes}}
            {{partial "node"}}
          {{/each}}
        </section>
      </div>
    </section>
  </aside>
</div>
