<header class="header skin-blue">
  <div class="brand logo">
    <img id="logo-company" src="assets/images/logo-intel-white.svg" alt="Intel">
    SAA
  </div>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li>
          {{#link-to "components"}}<i class="fa fa-list-alt"></i> Control Groups{{/link-to}}
        </li>
      </ul>
    </div>
  </nav>
</header>
